div{
    height: 100px;
    width: 100px;
    background-color: yellow;
    text-align: center;
    border: 3px solid black;
    margin: 20px;
    display: inline-block;
}
#static{
    background-color: brown;
    position: static;
    top: 100px;

}
#relative{
     background-color: brown;
    position: relative;
    top: 100px;
    left: 100px;
}
#absolute{
     background-color: brown;
    position: absolute;
    top: 100px;
    left: 100px;
}
#fixed{
     background-color: brown;
    position: fixed;
    top: 100px;
    left: 100px;
}
