.face{
    width: 500px;
    height: 500px;
    background-color: gold;
    border-radius: 50%;
}
.mouth{
    width: 250px; ;
    height: 80px;
    background-color: darkgrey;
    border-radius: 50px 50px 50px 50px;
    position: absolute;
    top: 300px;
    left:140px;
}
.left-eye, .right-eye{
    width: 100px; ;
    height: 100px;
    border-radius: 50%;
    background-color: rgb(238, 10, 10);
    display: inline-block;
    position: absolute;
    top:90px;
    left:100px;

}
.right-eye{
    left:300px;
}