div{
    height: 200px;
    width: 500px;
    background-color: pink;
    border-width:6px;
    border-style: solid;
    border-color: blue;
    border-radius: 15px;
    padding-top: 10px;
    margin-left: 20px;
    margin-bottom: 25px;
    transition: 2s;

} 
h1:hover{
    border-width: 3px;
    border-style: double;
    border-color: chartreuse;
    border-left-color:blue;
    border-top: 6px dashed red;
    border: top radius 50px;
    border-radius:50% ;

}