/* for css transition 
 div{
    height: 200px;
    width: 200px;
    background-color: blue;
    transition: 0.2s; /*  transition*/
    /* transition-delay: 5s;
    transition-duration: 2s;
    margin:0 auto; /* center mai aayega */
   /* transition: margin-top 2s ease-in 0.3 ; /* move krne ke liye */ /*
div:hover{
    background-color: red;
    border-radius: 50%;
    margin-top: 400px;
}
/*.

/*trnasform */

section{
    margin-top: 100px;
}
div{
    width: 400px;
    height: 100px;
    text-align: center;
    background-color: rgb(0, 255, 55);
    border: 2px solid black;
    margin:10px auto;
    box-shadow: 2px 2px 8px black;
    background-image: url(godzilla.jpg);
    background-size: contain;

}
div:nth-of-type(2n){
    background-color: aqua;
}
div:nth-of-type(3n){
    background-color: rgb(255, 0, 208);
}
/*transform */
#two
{
    transform: rotate(45deg);

}
#one {
    transform: scale(0.5,2);
    transform: scaleX(2);
}
#three{
    transform: translate(100px,100px);
}
#four{
    transform: skew(40deg);
}
#five
{
    transform: rotate(30deg) translateX(100px);
}
